body {
  margin: 0;
}

.background-img {
  height: 100%;
  animation-name: sepiafy;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}
.background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
@media (max-aspect-ratio: 2/3) {
  .background-img {
    margin-left: -20em;
  }
}
@media (min-aspect-ratio: 4/3) {
  .background-img {
    height: auto;
    width: 100%;
  }
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  /*background: rgba(0, 0, 0, 0.5);*/
  background: rgba(0,0,0,0);
  animation-name: fade-in-overlay;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes sepiafy {
  to {
    filter: sepia(50%);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(-1em);
    opacity: 0;
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-overlay {
  from {
    background: rgba(0,0,0,0);
  } to {
    background: rgba(0,0,0,0.5);
  }
}
.main {
  color: white;
  text-align: center;
  margin: 0 5%;

}
.main .title {
  font-size: 6em;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  font-family: 'Proza Libre', sans-serif;
}
.main .join {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 4em;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  background: rgb(27, 71, 142);
  margin-top: 1rem;
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem 2rem;
  /*border-radius: 40px;*/
  transition: box-shadow 0.25s, margin-top 0.25s, padding 0.25s, background 0.25s;
  box-shadow: black 0 0 5px 0px;
}

.main .join:hover {
  cursor: pointer;
  box-shadow: black 0 0px 2.5px 0px;
  /*box-shadow: none;*/
  /*margin-top: 1.5rem;*/
  padding: 1.5rem 3rem;
  background: rgb(26, 103, 142);

}
